#root > * {
  position: relative;
  z-index: 1; /* Ensures content is above the background layer */
}

#root::before {
  content: ''; /* Required for the pseudo-element to render */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/bashprime-logo-transparent.png');
  background-position: center;
  background-size: auto 25%;
  background-repeat: no-repeat;
  opacity: 0.33;
  z-index: 0; /* Places the pseudo-element behind the content */
}